h1 {
    margin: 2em, auto;
    font-size: 36pt;
    font-weight: bold;
    font-family: "Big Caslon";

}

div {
    background-image: radial-gradient(#208CA4, #61ec8b);
    background-image: radial-gradient(circle at top right, #208CA4, green, #61ec8b);
}

fieldset {
    background-color: #c7f79a;
}