h1 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    padding-left: 15px;
}

#formContainer {
    max-width: 35rem;
    margin: 0.6rem auto;
}

#loginForm {
    display: flex;
    flex-direction: column;
    border-radius: 0.4rem;
}

#usernameField {
    max-width: 18rem;
}

#passwordField {
    max-width: 18rem;
}

.submitBtn {
    align-self: center;
}

fieldset {
    background-color: #c7f79a;
    padding: 25px;
    border: none;

}

/* text area input styles */
input,
textarea {
    background-color: #c7f79a;
    border: 1px solid #208CA4;
    color: #00000059;
    margin: 2em auto;
    width: 75%;
    height: 3em;
    display: block;
}

input:focus {
    background-color: #208ca42f;
    border: #b8f06e;
}

::placeholder {
    color: #0d0e0c;
    font-size: 14pt;
    padding: 5px;
}


/* button styles */
input[type="submit"] {
    display: block;
    width: 60%;
    margin: 1.5em 25px;
    height: 3em;
    font-size: 1.1rem;
    background-color: #61ec8b;
    border-color: #0e8a75;
    color: rgb(0, 0, 0);
    min-width: 300px;
    padding: 10px 25px;
}

p,
a {
    float: inline-start;
}

header {
    text-align: center;
    width: 100%;
    height: 14vh;
}